:root {
  --white: #fff;
  --button-red: #e60012;
  --button-red-hover: #ac000d;
  --text-gray: #484848;
  --button-secondary-border: 1px solic #e60012;
  --button-border-radius: 0.3125em;
  --nin-theme-song__global_font-color: #484848;
  --for-bar-gray: #fffffff6;
  --gray-white: #f9f9f9;
  --footer: #454444;
  --circle_red: #d80010;
  --button-bg-color-hover: rgba(0, 0, 0, 0.4);
  --background-image-tile: url(https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/color?v=2022060701);
}

html {
  font-size: 100%;
  font-family: museo-sans, sans-serif;
  line-height: 1.38;
  color: var(--nin-theme-song__global_font-color);
}

.bottomNav {
  display: block;
  width: 100%;
  border-bottom: 1px solid #dadada;
  height: 40px;
  position: relative;
  margin: 0 auto;
  z-index: 1;

  font-family: 'museo-sans', 'Lato', sans-serif !important;
  font-weight: 400;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-height: 100%;
  margin: 0 auto;
  z-index: 0;
  overflow: hidden;
  transform-origin: center bottom;
}

.img-esrb {
  min-height: var(--descriptors-min-height, 5.625em);
  height: var(--descriptors-height, 5.625em);
  width: auto;
}

.size-1 {
  width: 220px;
  cursor: pointer;
}

.size-2 {
  width: 340px;
  top: -1px;
  cursor: pointer;
}

.size-3 {
  width: 200px;
  cursor: pointer;
}

.size-4 {
  width: 300px;
  cursor: pointer;
}

@media (max-width: 980px) {
  .top-nav-container .search-flex .btn-search-nintendo {
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 0;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

h2,
.h2 {
  margin: 0em;
}

.margin-0 {
  margin: 0.5em 0;
  color: var(--text-gray);
}

.div-space1 {
  width: 15px;
}

.div-space2 {
  width: 30px;
}
.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.more-space {
  margin: 20px;
}

.btn-background {
  background-color: var(--button-red);
  border: var(--button-secondary-border, 1px solid #e60012);
  color: var(--white);
  display: block;
  /* margin: 2.5rem; */
  /* width: calc(100% - 2px);
    height: calc(100% - 2px); */
  /* height: calc(100% - 2px); */
  /* width: 240px; */
  height: 60px;
  top: 0px;
  left: 0px;
  padding: 0px;
  border-radius: var(--button-border-radius);
  transform-origin: 50% 50%;
  cursor: var(--cursor, pointer);
  font-size: var(--font-size, 1.5em);
  font-family: inherit;
  font-weight: var(--font-weight, 500);
  line-height: var(--line-height, 1);
  justify-content: var(--justify-alignment, space-between);
  min-width: var(--button-min-width, 0);
}

.btn-background-text {
  font-family: inherit;
  margin: 1.5rem;
  font-size: 25px;
}

.btn-background:hover {
  background-color: var(--button-red-hover);
  transition: opacity 200ms ease-in-out 0s;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.descriptors {
  padding: 0.75em;
  display: var(--descriptors-display, flex);
  font-size: var(--descriptors-font-size, 100%);
  max-width: var(--descriptors-max-width, 11em);
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.flex.justify-content-center {
  justify-content: center;
}

.flex.align-items-center {
  align-items: center;
}

/* .wrapper, */
.constrained {
  max-width: 1180px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.padding-y-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.flex {
  display: flex;
}

hr {
  width: 100%;
  margin: var(--nin-deluxe-divider__margin, 1em 0);
  position: relative;
  z-index: var(--nin-deluxe-divider__z-index, 5);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.small-bar {
  border-top: var(--nin-deluxe-divider__height, 2.5px) solid
    var(--nin-deluxe-divider__color, #484848);
}

.normal-bar {
  height: 1px;
  border-collapse: -1px;
}

.bar-gray {
  height: 1px;
  margin: 2.5rem 0;
  border-collapse: -1px;
}

.complete-list {
  background-color: var(--white);
  border: none;
  color: var(--button-red);
  font-size: 20px;
  font-weight: var(--font-weight, 700);
  width: var(--button-width, var(--styled-button-width, auto));
  height: var(--button-height, var(--styled-button-height, auto));
  height: 90px;
  transition: all 200ms ease-in-out 0s;
}

.complete-list:hover {
  color: var(--button-red-hover);
  cursor: pointer;
  line-height: var(--line-height, 1);
}

.store {
  background-color: var(--button-red);
  background-image: var(--background-image-tile);
  font-family: var(--page-font);
  font-size: var(--font-size, 1rem);
  background-image: var(--background-image-tile);
  border-radius: var(--borderCurve);
  border: var(--border-shorthand, none);
  display: flex;
  align-items: center;
  flex-direction: var(--container-flex-direction, row);
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0px;
  padding: var(--container-padding, 0 1em);
}

.store-title {
  color: var(--white);
  margin: 2rem;
}

.store-button {
  background-color: var(--button-bg-color-hover, #ac000d);
  border-radius: 6px;
  color: var(--white);
  font-size: var(--font-size, 1rem);
  width: 100%;
  max-width: 235px;
  height: 70px;
  border: 1px solid black;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
}

.wrapper-titles {
  overflow: hidden;
}

.wrapper-titles-right {
  margin: 1rem;
  float: right;
}

.wrapper-titles-left {
  float: left;
}

.news-article-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  justify-items: center;
}

.notice-img {
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  /* ------------------------------ */
  /* ---- TOCARA TENER CUIDADO ---- */
  height: 500px;
  width: 900px;
  /* ------------------------------ */
  object-fit: var(--image-fit, cover);
  object-position: center center;
  border-radius: 0.375em;
  border: 1px solid rgb(218, 218, 218);
  transition: filter 200ms ease-in-out 0s,
    transform 300ms cubic-bezier(0.095, 1.65, 0.775, 0.855) 0s,
    opacity 200ms linear 0s;
  filter: var(--image-focus-filter, none);
}

.grid-layout {
  box-sizing: border-box;
  display: block;
}

.grid {
  display: grid;
  max-width: 1180px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
