.wrapper {
  overflow: hidden;
  /* display: flex; */
}

.wrapper-right {
  /* margin: 1rem; */
  float: right;
}

.div-btn-logo-nintendo {
  /* height: 45px; */
  width: 150px;
  background-color: pink;
}

.space-logo {
  height: 15px;
  background-color: aqua;
  float: left;
}

.btn-search-text {
  height: 34px;
  padding: 0;
  padding-right: 5em;
  margin: 0;
  margin-left: 2em;
  display: flex;
  align-items: center;
  color: #727272;
  transition: color 200ms ease-in-out;
  border-bottom: 1px solid #484848;
  font-size: 1em;
  transition: 0.3s;
  font-family: 'museo-sans', 'Lato', sans-serif !important;

  /* letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none; */
  /* 
  
  font-weight: 400;
  box-sizing: border-box; */
}

.search-icon {
  width: 34px;
  height: 34px;
}

.search-text {
  /* max-width: 200px; */
  /* height: 50px; */
  /* background-color: antiquewhite; */
}

.button-logo-nintendo {
  fill: #fff;
  height: 40px;
  /* max-width: 120px; */
  /* max-height: 100%; */
  cursor: pointer;
  float: left;
}

.wrapper-right {
  float: right;
}

.img-of-wrapper {
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  max-height: 120px;
  width: 100%;
  outline-offset: -1px;
  padding: 0;

  display: flex;
  position: relative;
}

.option {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.search-flex {
  /* flex: 50%;} */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1em;
  height: 100%;
  background-color: #9fa7d8;

  font-weight: 400;
  text-align: left;
}

/*! ++++++++++++++++++++++++++++++++++++++++++++++*/
/* .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-nintendo {
  background-color: var(--button-red);
  max-height: 100%;
  width: 140px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20001;

  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  color: inherit;
}

.logo-nintendo img {
  float: left;
}

.button-logo-nintendo {
  fill: #fff;
  max-width: 120px;
  max-height: 100%;
  cursor: pointer;
}

.search-flex {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1em;
  height: 100%;
  background-color: #9fa7d8;

  font-weight: 400;
  text-align: left;
}

.img-of-wrapper {
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  outline-offset: -1px;
  padding: 0;

  display: flex;
  position: relative;
} */
