.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

  display: block;
  /* margin-block-start: 1em; */
  margin-block-end: -1.7em;
  /* margin-inline-start: 50px; */
  /* margin-inline-end: 40px; */
  /* padding-inline-start: 40px; */
}

.li-horizontal {
  display: list-item;
  text-align: -webkit-match-parent;
  color: white;
  float: left;
}

.rightli {
  float: right;
  color: white;
}

.wrapper {
  overflow: hidden;
  /* display: flex; */
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-height: 100%;
  margin: -0.5rem;
  z-index: 0;
  overflow: hidden;
  transform-origin: center bottom;
}

.img-wrapper-list {
  margin: 1rem;
}

.wrapper-right {
  /* margin: 1rem; */
  float: right;
}

.div-btn-logo-nintendo {
  /* height: 45px; */
  width: 150px;
  background-color: pink;
}

.space-logo {
  height: 15px;
  background-color: aqua;
  float: left;
}

.btn-search-text {
  height: 34px;
  padding: 0;
  padding-right: 5em;
  margin: 0;
  margin-left: 2em;
  display: flex;
  align-items: center;
  color: #727272;
  transition: color 200ms ease-in-out;
  border-bottom: 1px solid #484848;
  font-size: 1em;
  transition: 0.3s;
  font-family: 'museo-sans', 'Lato', sans-serif !important;

  /* letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none; */
  /* 
  
  font-weight: 400;
  box-sizing: border-box; */
}

.search-icon {
  width: 34px;
  height: 34px;
}

.button-logo-nintendo {
  fill: #fff;
  height: 40px;
  /* max-width: 120px; */
  /* max-height: 100%; */
  cursor: pointer;
  float: left;
}

.wrapper-right {
  float: right;
}

.img-of-wrapper {
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  max-height: 120px;
  width: 100%;
  outline-offset: -1px;
  padding: 0;

  display: flex;
  position: relative;
}

.option {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.search-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1em;
  height: 100%;
  background-color: #9fa7d8;

  font-weight: 400;
  text-align: left;
}
